#app { 
    display: grid;
    width: 100vw;
    margin-top: 30px;
    margin-bottom: 130px;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 140px);
    grid-template-areas: 
        "a a a f f f . ."
        "d d d g g g . ."
        "c c c b b b . ."
        ". . . . . . . .";
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
}

.a { grid-area: a; }
.b { grid-area: b; }
.c { grid-area: c; }
.d { grid-area: d; }
.f { grid-area: f; }
.g { grid-area: g; }

/* 媒体查询 */
@media screen and (max-width: 750px)  {      
    #app { 
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(6, 120px);
        grid-template-areas: 
            "a a a"
            "d d d"
            "c c c"
            "f f f"
            "g g g"
            "b b b";
        margin-bottom: 30px;
    }
}
@media screen and (min-height: 760px)  {      
    #app { 
        margin-top: 130px;
        margin-bottom: 130px;
    }
}

/* 主框架 */
* { padding: 0; margin: 0; box-sizing: border-box; }
body { font-family: Helvetica, Arial, sans-serif;}
/* 卡片 */
.index-link { text-decoration: none; display: inline-block; color: #000; }
.index-card { font-family:'Microsoft YaHei'; background-color: #EFEFEF; border-radius: 5px; width: 295px; height: 91px; -webkit-transition: box-shadow 0.24s; transition: box-shadow 0.24s; }
.index-card:hover { box-shadow: 0 3px 4px rgba(0,0,0,0.3); color: #fe6a00; }
.index-cover { display: inline-block; padding: 14px; }
.index-cover-img { width:64px; height:64px; border-radius: 4px; }
.index-info { float: right; width: 195px; height: 65px; padding-top: 16px; padding-right: 13px; } 
.index-info-des { font-size: x-small; font-weight: 400; padding-top: 8px; color:#555; }

/* 底部 */
#m-hr { display: block; width: 78%; margin: auto; border-top: solid #ddd 1px; }
footer { text-align: center; list-style: none; color: #777; display: block; margin-top: 20px; margin-bottom: 32px; }
footer a { color: #777; text-decoration: none; }
footer li { display: inline-block; font-size: 13px; }
footer>li+li:before { padding: 0 10px; color: #ccc; content: "|"; }